.chat-app {
  width: 100%;
  height: 100vh;
  display: flex;
}

.chat-list {
  width: 30%;
  height: calc(100% - 6.5rem);
  background-color: var(--color-bg-primary);
  padding: 7rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  row-gap: 1rem;
  position: relative;
}

.chat-list {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.chat-list::-webkit-scrollbar,
.chat-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.chat-list-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 6rem;
  background-color: var(--color-bg-primary);
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 100;
}

.chat-list-header h2 {
  font-family: "Exo 2", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.chat-list-header i {
  font-size: 2.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.hide-chat-icon {
  display: none;
}

.chat-list-item {
  width: 100%;
  height: 6rem;
  background-color: var(--color-bg-secondary);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: transform 250ms, opacity 250ms ease-in-out;
}

.chat-list-item.active {
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
}

.chat-list-item h4 {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--color-text-secondary);
  background-color: transparent;
}

.chat-list-item.active h4 {
  color: var(--color-text-active);
  background-color: transparent;
}

.chat-list-item i {
  font-size: 2.5rem;
  color: var(--color-text-accent);
  background-color: transparent;
  cursor: pointer;
}

.chat-list-item:hover {
  transform: scale(0.98);
  opacity: 0.7;
}

.chat-window {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-title {
  width: 100%;
  min-height: 6rem;
  background-color: var(--color-bg-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
}

.chat-title h3 {
  font-family: "Exo 2", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  letter-spacing: 0.1rem;
}

.chat-title i.bx-menu {
  display: none;
}

.arrow {
  font-size: 4rem;
  color: var(--color-text-secondary);
  transform: rotate(180deg);
  cursor: pointer;
}

.chat {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  background-color: var(--color-bg-secondary);
  overflow-y: auto;
}

.chat::-webkit-scrollbar {
  display: none;
}

.prompt,
.response {
  max-width: 80%;
  padding: 2rem;
  font-size: 1.6rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

.prompt {
  background: linear-gradient(
    135deg,
    var(--color-tertiary),
    var(--color-quaternary)
  );
  color: var(--color-text-quaternary);
  align-self: flex-end;
  border-radius: 3rem 0 3rem 3rem;
  text-align: right;
}

.response {
  background: linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-secondary)
  );
  color: var(--color-text-active);
  font-weight: 300;
  border-radius: 0 3rem 3rem 3rem;
  align-self: flex-start;
  text-align: left;
}

.prompt span,
.response span {
  font-family: "Exo 2", sans-serif;
  font-size: 1.4rem;
  display: block;
  margin-top: 0.5rem;
  background-color: transparent;
}

.format-response {
  white-space: pre-line;
  background-color: transparent;
}

.format-response strong {
  font-weight: bold;
  background-color: transparent;
}

.typing {
  font-family: "Exo 2", sans-serif;
  font-size: 1.6rem;
  color: var(--color-text-secondary);
  background-color: transparent;
  margin-top: auto;
  margin-bottom: -3rem;
}

.msg-form {
  width: 100%;
  min-height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-primary);
  box-shadow: 0 -0.2rem 0.5 rgba(0, 0, 0, 0.1);
  padding: 2rem;
  position: relative;
}

.msg-form i {
  width: 6rem;
  font-size: 2.5rem;
  text-align: center;
  color: var(--color-text-secondary);
  background-color: transparent;
  cursor: pointer;
}

.picker {
  position: absolute;
  bottom: 7rem;
  left: 8rem;
}

.msg-input {
  height: 100%;
  flex: 1;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  color: var(--color-text-secondary);
}

.msg-input::placeholder {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--color-text-secondary);
}

.msg-input:focus::placeholder {
  opacity: 0;
}

@media (max-width: 768px) {
  .chat-app {
    /* flex-direction: column; */
  }

  .chat-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 10;
  }

  .chat-list.show {
    transform: translateX(0);
  }

  .chat-list-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .chat-list-btns {
    display: flex;
    justify-content: center;
  }

  .hide-chat-icon {
    display: block;
  }

  .chat-window {
    width: 100%;
  }

  .chat-title h3 {
    padding-left: 5rem;
  }

  .chat-title i.bx-menu {
    font-size: 3rem;
    color: var(--color-text-secondary);
    display: block;
    cursor: pointer;
    position: absolute;
  }

  .msg-form {
    padding-left: 8rem;
  }
}

@media (max-width: 640px) {
  .chat-list {
    width: 60%;
  }

  .picker {
    left: 1rem;
  }

  .msg-form {
    padding-left: 6rem;
  }
}
