@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

:root {
  --color-text-primary: #0f172a; /* slate-900 */
  --color-text-secondary: #1e293b; /* slate-800 */
  --color-text-tertiary: #1e293b80; /* slate-800 + 80*/
  --color-text-quaternary: #0f172a; /* slate-900 */
  --color-text-active: #f8fafc; /* slate-50 */
  --color-text-accent: #e879f9; /* fuchsia-400 */
  --color-bg-primary: #e2e8f0; /* slate-200 */
  --color-bg-secondary: #f1f5f9; /* slate-100 */
  --color-bg-tertiary: #cbd5e19e; /* slate-300 + 9e */
  --color-primary: #a855f7; /* purple-500 */
  --color-secondary: #4f46e5; /* indigo-600*/
  --color-tertiary: #e2e8f0; /* slate-200 */
  --color-quaternary: #cbd5e1; /* slate-300 */
}

.dark {
  --color-text-primary: #f1f5f9; /* slate-100 */
  --color-text-secondary: #e2e8f0; /* slate-200 */
  --color-text-tertiary: #cbd5e198; /* slate-300 + 98 */
  --color-text-quaternary: #334155; /* slate-700 */
  --color-text-active: #f8fafc; /* slate-50 */
  --color-text-accent: #d946ef; /* fuchsia-500 */
  --color-bg-primary: #0f172a; /* slate-900 */
  --color-bg-secondary: #1e293b; /* slate-800 */
  --color-bg-tertiary: #334155a0; /* slate-700 + a0 */
  --color-primary: #9333ea; /* purple-600 */
  --color-secondary: #4338ca; /* indigo-700 */
  --color-tertiary: #cbd5e1; /* slate-300 */
  --color-quaternary: #94a3b8; /* slate-400 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Outfit", sans-serif;
  background-color: var(--color-bg-primary);
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  /* overflow: hidden; */
}

html,
body {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

:root {
  --app-height: 100vh;
}

@supports (height: 100dvh) {
  :root {
    --app-height: 100dvh;
  }
}

.theme-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.theme-switcher {
  position: fixed;
  bottom: 1.5rem;
  left: 2rem;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  z-index: 10;
}

.mode-btns {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0 0.6rem;
  position: relative;
  width: 5.2rem;
  height: 2.8rem;
  background-color: var(--color-bg-tertiary);
  color: var(--color-text-secondary);
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}

.mode-btns i {
  font-size: 2rem;
  padding: 0;
  background-color: transparent;
}

.mode-thumb {
  position: absolute;
  top: 0.3rem;
  left: 0.4rem;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 9999px;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.translate-x-6 {
  transform: translateX(2.4rem);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.translate-x-0 {
  transform: translateX(0);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-secondary);
  overflow-y: auto;
  position: relative;
}

/* FOOTER */

footer {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: 300;
}

small {
  color: var(--color-text-tertiary);
}

footer a {
  height: 3.5rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0 0.5rem;
  padding-right: 0.6rem;
  background-color: var(--color-bg-tertiary);
  color: var(--color-text-primary);
  border-radius: 4rem;
  border: 1px solid transparent;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all 0.2s ease;
}

footer p,
footer i {
  background-color: transparent;
}

footer a:hover {
  border-color: var(--color-primary);
  transform: translateY(1px);
}

footer a img {
  max-width: 25px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

@media (max-width: 640px) {
  .theme-switcher {
    left: 1rem;
  }
}
