@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

:root {
  --color-text-primary: #0f172a;
  --color-text-secondary: #0f172a;
  --color-text-tertiary: #1e293b80;
  --color-text-accent: #f8fafc; /* slate-50 */
  --color-bg-primary: #f1f5f9;
  --color-bg-secondary: #e2e8f0;
  --color-bg-tertiary: #cbd5e19e;
  --color-primary: #a855f7; /* purple-500 */
  --color-secondary: #4f46e5; /* indigo-600*/
  --color-tertiary: #f1f5f9; /* slate-100 */
}

.dark {
  --color-text-primary: #f1f5f9;
  --color-text-secondary: #e2e8f0;
  --color-text-tertiary: #cbd5e180;
  --color-text-accent: #f8fafc; /* slate-50 */
  --color-bg-primary: #0f172a;
  --color-bg-secondary: #1e293b;
  --color-bg-tertiary: #3341559e;
  --color-primary: #9333ea; /* purple-600 */
  --color-secondary: #4338ca; /* indigo-700 */
  --color-tertiary: #475569; /* slate-600 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Outfit", sans-serif;
  background-color: var(--color-bg-primary);
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  overflow: hidden;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.theme-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.theme-switcher {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  z-index: 10;
}

.mode-btns {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0 0.6rem;
  position: relative;
  width: 5.2rem;
  height: 2.8rem;
  background-color: var(--color-bg-tertiary);
  color: var(--color-text-secondary);
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}

.mode-btns i {
  font-size: 2rem;
  padding: 0;
  background-color: transparent;
}

.mode-thumb {
  position: absolute;
  top: 0.3rem;
  left: 0.4rem;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 9999px;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.translate-x-6 {
  transform: translateX(2.4rem);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.translate-x-0 {
  transform: translateX(0);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-secondary);
  overflow-y: auto;
  position: relative;
}

/* .container {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: var(--color-bg-secondary);
  position: relative;
} */

/* FOOTER */

footer {
  position: absolute;
  left: 50%;
  bottom: 6rem;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 6rem; */
  font-size: 1.2rem;
}

small {
  color: var(--color-text-secondary);
  padding-bottom: 0.5rem;
}

footer a {
  height: 3.5rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0 0.5rem;
  padding-right: 0.6rem;
  background-color: transparent;
  color: var(--color-text-secondary);
  border-radius: 4rem;
  border: 1px solid transparent;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition-duration: all 0.2s ease;
}

footer a:hover {
  border-color: var(--color-primary);
  transform: translateY(1px);
}

footer a img {
  max-width: 25px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
